.header {
  background-color: #fff;
  border-bottom: 1px solid rgb(183, 179, 178);
  padding: 20px 0 20px;
  color: #000;

  font-size: 24px;
  line-height: 29px;
}
h1 {
  color: red;
}
.icon-prometheus {
  margin-right: 10px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: relative; */
}

.menu {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  display: none;
}

.icon {
  display: none;
}

.icon-2 {
  display: flex;
  gap: 60px;
  margin-right: 150px;
}
.phone {
  flex-grow: 1;
  flex-basis: 0;
  text-align: right;
  font-size: 24px;
  line-height: 29px;
}
.menu-item {
  padding-right: 30px;
}
.menu-link {
  font-size: 24px;
  line-height: 29px;
}
.header-p {
  font-size: 14px;
}
